@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gasoek+One&family=Momo+Trust+Display&display=swap');


/* == GLOBAL STYLES == */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    --pri-col: #fffcf5;
    --sec-col: #b5ac60;
    --acc-col1: #302b28;
    --acc-col2:#e2edf7;
    --acc-col3: #ffe36c;
    --acc-col4: #ed6dc2;
}

body {
    text-wrap: pretty;
    background-color: var(--pri-col);
    color: var(--acc-col1);
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: center;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 2rem 1.5rem;
    text-align: left;
    justify-content: center;
    z-index: 3;
}

nav a {
    font-family: "Bricolage Grotesque", sans-serif;
    text-decoration: none;
    color: var(--acc-col3);
    font-size: 1rem;
    padding: 1rem;
    display: inline-block;
    font-weight: 800;

}

nav a:hover {
    background-color: var(--acc-col1);
    color: var(--acc-col2);
    border-radius: 500px;
    transform: scale(1.05);
    transition: 0.2s;
}

nav li#logohome a {
    background: url(../images/BPG_Logo.png) no-repeat center;
    text-indent: -99999px;
    overflow: hidden;
    background-size: contain;
    width: 55px;
}

nav li {
    margin: 0 0.8rem;
}

.nav-toggle {
    display: none;
}

.nav-menu {
    gap: 6rem;
}

/* == HAMBURGER MENU == */
.nav-toggle {
    display: none;
}

.hamburger{
    display: none;
    position: fixed;
    left: 2rem;
    top: 3rem;
    cursor: pointer;
    padding: 1.25rem;
    z-index: 50;        
}

.hamburger span, .hamburger::before, .hamburger::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    background: var(--acc-col1);
    border-radius: 2px;
    transition: transform .4s;
}

.hamburger::before{
    margin-top: -8px;
}

.hamburger::after {
    margin-top: 8px;
}



/* CONTENT */
main {
    width: 70vw;
    margin: 0 auto;
}

header {
    background-color: var(--sec-col);
    border-radius: 0 0 70px 70px;
    position: relative;
    overflow: hidden;
}

.hero-header {
    position: relative;
    display: grid;
    grid-template-columns: 55vw 45vw;
    align-items: end;
    margin: 0 5rem;
}

header h1 {
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--acc-col2);
    font-size: clamp(10vw, 15vw, 15vw);
    line-height: 0.8;
    letter-spacing: 0.02rem;
    z-index: 1;
    margin-bottom: 3rem;
}

.hero-dog {
    width: min(60vw, 100vw);
    transform: translateX(45vw);
    position: absolute;
    z-index: 2;
}

h2, h3 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 800;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
}

h2 {
    font-size: 3.75rem;
    margin-top: 6rem;
    line-height: 3.25rem;
    padding: 2rem 0 1.5rem 0;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    max-width: 50rem;
}

p {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 3rem;
}

.card {
    display: flex;
    justify-content: center;
    gap: 6.5rem;
    margin-top: 4rem;
    padding: 0 10rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.card-item {
    flex: 1;
    max-width: 21.875rem;
}

.card-item img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-item h3 {
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    text-align: left;

}

.card-item p {
    line-height: 1.6;
    text-align: left;
}

.quote-content {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
    overflow: hidden;
}

.quote-hero {
    position: relative;
    display: flex;
    margin: 5rem 0 -6rem;
    overflow: hidden;
}

.circle-bg {
    position: relative;
    width: 70vw;
    height: 70vw;
    position: absolute;
    background-color: var(--acc-col2);
    border-radius: 9999px;
    z-index: 0;
    margin: 1rem 19vw;
    overflow: hidden;
}

.quote-text {
    width: 33vw;
    position: relative;
    text-align: left;
    top: 10rem;
    right: 30vw;
}

.quote-text h2 {
    margin: 0;
}


.quote-hero-dog {
    position: relative;
    top: -8vw;
    right: 15vw;
    width: 70vw;
}

.cta-bone {
    display: inline-block;
    margin-top: 3rem;
    margin-left: 13rem;
    padding: 1rem 1rem;
    background-color: var(--acc-col4);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: var(--acc-col1);
    text-transform: uppercase;
    text-decoration:none;
    border-radius: 999px;
    transform: rotate(12deg);
    box-shadow: 5px 5px 0 var(--acc-col1);
    
}

.cta-bone:hover {
    background-color: var(--sec-col);
    transform: scale(1.05);
    transition: 0.2s;
}


footer {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}




/* !!!!!!TRICK LIBRARY!!!!!!!! */

.gallery-trick {
    width: 70vw;
    justify-content: space-around;
    gap: 2rem;
}

.card-trick {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 800;
    width: 350px;
    padding: 20px 25px;
    background-color: var(--acc-col2);
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.card-trick h3 {
    color:var(--pri-col);

}

.card-trick a {
    color: var(--pri-col);
    text-decoration: none;
    margin-top: auto;
    padding: 8px 35px;
    background-color: var(--acc-col4);
    border-radius: 999px;
}

.card-trick a:hover { 
    background-color: var(--acc-col1); 
    color: var(--pri-col);
    transform: scale(1.05);
    transition: 0.2s;
  
}

.card-trick img{
    width: 300px;
    padding: 1.5rem;
}

.gallery-trick {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}






/* !!!!!!!!WHAT YOU NEEED!!!!!! */

.body-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.body-left h3,
.body-left p {
    grid-column: 1;
    width: 25rem;
}

.body-left img {
    max-width: 45vw;
    height: auto;
    margin-left: -10rem;
    grid-column: 2;
    align-items: end;
}

.body-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 5rem;
}

.body-right img {
    max-width: 30vw;
    height: auto;
    grid-column: 1;
    align-items: start;
}

.body-right h3,
.body-right p {
    grid-column: 2;
    width: 22rem;
    justify-self: end;
}





/* !!!!!!TRICK LIBRARY: SIT!!!!!!!! */

.instructions {
    justify-items: center;
}

.instructions-right, .instructions-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
    width: 55vw;
}

.instructions-right img, .instructions-left img {
    width: 300px;
    height: 300px;
}

.instructions-right {
    flex-direction: row;
}

.instructions-right img {
    margin-right: 2rem;
}

.instructions-right .text-block {
    flex: 1;
    text-align: left;
    max-width: 17.5rem;
}

.instructions-left {
    flex-direction: row-reverse;
}

.instructions-left img {
    margin-left: 2rem;
}

.instructions-left .text-block {
    flex: 1;
    text-align: right;
    max-width: 17.5rem;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.cta-button {
    text-decoration:none;
    text-transform: uppercase;
    color: var(--acc-col1);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 800;
    padding: 1.25rem;

}

.cta-button-prev {
    padding: 1.25rem 1.25rem;
    background-color: var(--acc-col2); 
    border-radius: 999px;
}

.cta-button-next {
    padding: 1.25rem 1.25rem;
    background-color: var(--acc-col3);
    border-radius: 999px;
}

.cta-button-prev:hover {
    background-color: var(--sec-col);
    transform: scale(1.05);
    transition: 0.2s;
}

.cta-button-next:hover {
    background-color: var(--acc-col4);
    transform: scale(1.05);
    transition: 0.2s;
}

.cta:has(.cta-button-next:only-child) { /*chatgpt-ed hehe (early declaration ok, sorry)*/
    justify-content: flex-end;
}

.cta:has(.cta-button-prev:only-child) {
    justify-content: flex-start;
}



/* !!!!!!!!ABOUT US!!!!!!!! */

.introduction-of-us img {
    max-width: 70vw;
    margin: 1rem 0 3rem 0;
    border-radius: 50px;   
}








/* Mobile */
@media screen and (320px <= width <768px) {

    h2 {
        font-size: 3.2rem;
        line-height: 2.5rem;
        margin-top: 2rem;
    }

    .hamburger {
        display: flex;
    }
    

    nav li#logohome {
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
        width: 100vw;
        height: 100vh; 
        background-color: var(--pri-col);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 2rem 3rem;
        gap: 0;
        min-width: 100%;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s ease;
        z-index: 30;
    }

    .nav-toggle:checked ~ .nav-menu {
        max-height: 100vh;
        opacity: 1;
    }


    .nav-menu li#logohome {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }


    /* Style menu items */
    .nav-menu li {
        width: 100%;
        margin: 0;
    }

    .nav-menu li:last-child {
        border-bottom: none;
    }

    .nav-menu a {
        display: block;
        width: 100%;
        padding: 1.5rem 0;
        font-size: 2rem;
        color: var(--sec-col);
        text-align: left;
    }

    .nav-menu a:hover {
        background-color: transparent;
        color: var(--acc-col1);
        border-radius: 0;
        padding-left: 0.75rem;
        transition: 0.5s;
    }
    

    header {
        border-radius: 0 0 40px 40px;

    }

    header h1 {
        font-size: 6rem;
        line-height: 5rem;
        margin: 6.5rem 0 1rem -2rem;
        letter-spacing: 0.05rem;
    }

    .hero-dog {
        position: absolute;
        width: 65vw;
        transform: translateX(14.5rem);
    }

    .card {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 0 2rem;
        margin-top: 3rem;
        width: 100%;
    }

    .card-item {
        flex: none; 
        width: 100%; 
        max-width: 25rem; 
    }

    .card-item img {
        width: 12rem;
        height: 12rem;
    }

    .card-item h3 {
        text-align: center;
        margin: 0 0 1rem 0;
    }

    .card-item p {
        text-align: center;
    }

    .intro-b{
        max-width: 20rem;
        margin-top: 8rem;
    }

    .circle-bg{
        height: 90vw;
        width: 90vw;
        margin: -3.5rem 0;
    }

    .quote-hero-dog {
        height: auto;
        position: relative;
        bottom: 0;
        width: 90vw;
    }

    .quote-text {
        width: 45vw;
        position: relative;
        text-align: left;
        top: 1rem;
        right: 65vw;

    }

    .quote-text h2 {
        font-size: 2.5rem;
        line-height: 2.1rem;
        margin-top: -1.5rem;
    }
    
    .quote-text h3{
        font-size: 1.3rem;
    }

    .cta-bone {
        margin-left: 4rem;
    }

    .body-left,
    .body-right {
        display: flex;
        flex-direction: column;
    }

    .body-left h3,
    .body-left p,
    .body-right h3,
    .body-right p {
        width: 70vw;
    }

    .body-left img {
        order: 2;
        max-width: 60vw;
        margin-left: 0;
        margin-top: 1rem;
        transform: rotate(-20deg);
        margin-bottom: 2rem;

    }

    .body-right img {
        order: 2;
        max-width: 40vw;
    }

    .body-right h3,
    .body-right p {
        order: 1;
    }

    .instructions-right, .instructions-left {
        display: grid;
        grid-template-columns: 1fr 1.75fr;
        column-gap: 1rem;
        width: 100%;
    }

    .instructions-right img, .instructions-left img {
        width: 6.5rem;
        height: 6.5rem;
        margin: -2.5rem 0 0 0;
        justify-self: start;
    }

    .instructions-right .text-block,
    .instructions-left .text-block {
        text-align: left;
        max-width: none;
    }

    .text-block h3 {
        font-size: 1.3rem;
        line-height: 1.25rem;

    }

    .cta-button {
        font-size: 0.7rem;
        
    }

    .cta-button-prev, .cta-button-next{
        padding: 0.5rem 1rem;
    }
}





/*Tablet*/
@media screen and (768px <= width < 1024px) {
    .nav-menu {
        gap: 2rem;
    }
    
    nav ul {
        min-width: 100%;
        padding: 1.5rem 1rem;
    }
    
    nav a {
        font-size: 1rem;
    }

    header {
        border-radius: 0 0 55px 55px;
    }

    header h1 {
        font-size: clamp(11vw, 16vw, 20vw);
    }

    .hero-dog {
        position: absolute;
        width: 90%;
    }

    .card {
        gap: 4rem;
        padding: 0 4rem;
        max-width: 100%;
    }

    .card-item {
        flex: 1;
        max-width: 18rem;
    }

    .card-item img {
        width: 10rem;
        height: 10rem;
    }

    .circle-bg{
        height: 90vw;
        width: 90vw;
        top: -5rem;
        left: -15vw;
    }

    .quote-hero-dog {
        height: auto;
        position: relative;
        bottom: 0;
        width: 90vw;
    }

    .quote-text {
        width: 35vw;
        position: relative;
        text-align: left;
        top: 3rem;
        right: 54vw;
    }

    .quote-text h2 {
        font-size: 3rem;
        line-height: 2.5rem;
    }


    .cta-bone {
        margin-left: 7rem;
    }

    .body-left {
        margin-top: 5rem;
    }

    .body-left h3,
    .body-left p,
    .body-right h3,
    .body-right p {
        width: 30vw;
    }

    .body-left img {
        margin: -2rem;
        transform: rotate(-15deg);
    }

    .instructions-right, .instructions-left {
        width: 70vw;
    }
}
